DATABASE_URL=""

BACKEND_PORT=8000

FRONTEND_URL="http://localhost:5173"

# better auth
BETTER_AUTH_SECRET="" # generate using `openssl rand -base64 32`
BETTER_AUTH_URL="http://localhost:8000" # Base URL of your app (backend)

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""